.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 8px solid rgb(227, 223, 223);
    padding: 100px;
    margin: 50px;
}

.product_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.product_item_img{
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.addBTN{
    height: 40px;
    width: 250px;
    border: none;
    background-color: rgb(55, 152, 176);
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}